# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.PrimeGen.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\RiderProjects\PrimeGen\.idea\.idea.PrimeGen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
